.main-screen {
  width:606px;
  height: calc(100% - 102px);
  padding-top:100px;
  text-align: center; 
  border:1px solid black;
}


.main-screen__startGame {
  padding: 5px 20px;
  font-size: 22px;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}