.game-over { 
  width:608px;
  padding-top:100px;
  text-align: center; 

}
.game-over__newGame {
  padding: 5px 20px;
  font-size: 22px;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}